# ignore cruft at repo root
.Rproj.user
.Rhistory
.RData
.Ruserdata
.megaignore
.vscode

# ignore entire trees recursively


/data/**

# un-ignore directories inside those trees so git will traverse into them


!/data/**/

# un-ignore any .gitkeep anywhere
!**/.gitkeep
