name: dash_test_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pandas
  - numpy
  - pip
  - pip:
      - dash==2.18.0
      - plotly==5.24.0
      - dash-bootstrap-components==1.6.0
      - gunicorn==21.2.0



